<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp220240106182547.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6d9ddf95-b606-4db3-b054-3715b66b7d26/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/FunctionApp220240106182547</ResourceId>
    <UserName>$FunctionApp220240106182547</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp220240106182547.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net48</TargetFramework>
    <RuntimeIdentifier>win</RuntimeIdentifier>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>