<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp220240107020122.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6d9ddf95-b606-4db3-b054-3715b66b7d26/resourcegroups/app2/providers/Microsoft.Web/sites/FunctionApp220240107020122</ResourceId>
    <UserName>$FunctionApp220240107020122</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp220240107020122.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>